@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{

    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(media/bgimage.jpg);
}

.profile_frame{

    height: 400px;
    width: 600px;
    background-color:rgba(180, 180, 180, .7);
    border: 20px;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;

}

.profile_photo {

    height: 170px;
    width: 170px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50%;
    overflow: hidden;

}

.profile_image{

    height: 150%;
    flex-wrap: wrap;
    /* padding-bottom: 10px; */
    
}

.text_name{

    padding-bottom: 5px;
    font-family: Quantico;
    text-align: center;

}

.text_content{
    text-align: center;
    /* padding-bottom: px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif\;
}


.icon{

    padding-top: 10px;
    font-size: 20px;
    display: flex;
    column-gap: 15px;
}

.linkedin{

    color: black;
}

.instagram{

    color: black;
}

.github{
    color: black;
}

.heading{

    height: 150px;
    width: 100%;
    background-color: rgb(185, 185, 185, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
} 


.section2{
        
    height: 50vh;
    width: 100%;
    background-color: rgb(185, 185, 185, 0.3);
    display: flex;
    justify-content: space-around;
}

.skill1{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
}

.skill2{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
}

.skill3{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
}

.section3{
        
    height: 50vh;
    width: 100%;
    background-color: rgb(185, 185, 185, 0.3);
    display: flex;
    justify-content: space-around;
}


.skill4{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
}

.skill5{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
}

.skill6{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
}
