@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{

    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(media/bgimage.jpg);
}

.profile_frame{

    height: 400px;
    width: 600px;
    background-color:rgba(180, 180, 180, .7);
    border: 20px;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;

}

.profile_photo {

    height: 170px;
    width: 170px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50%;
    overflow: hidden;

}

.profile_image{

    height: 150%;
    flex-wrap: wrap;
    /* padding-bottom: 10px; */
    
}

.text_name{

    padding-bottom: 5px;
    font-family: Quantico;
    text-align: center;

}

.text_content{
    text-align: center;
    /* padding-bottom: px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif\;
}


.icon{

    padding-top: 10px;
    font-size: 20px;
    display: flex;
    column-gap: 15px;
}

.linkedin{

    color: black;
}

.instagram{

    color: black;
}

.github{
    color: black;
}

.heading{

    height: 150px;
    width: 100%;
    background-color: rgb(185, 185, 185, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
} 


.section2{
        
    height: 50vh;
    width: 100%;
    background-color: rgb(185, 185, 185, 0.3);
    display: flex;
    justify-content: space-around;
}

.skill1{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    background-image: url(media/Bootstrap_Image.jpg);
    background-size: contain;
    display: flex;
    align-items:flex-end;
}

.skill1_details{

    height: 50px;
    width: 100%;
    background-color: rgba(60, 60, 60, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill1_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.skill2{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    background-image: url(media/html-css.jpg);
    background-size: contain;
    display: flex;
    align-items:flex-end;
}

.skill2_details{

    height: 50px;
    width: 100%;
    background-color: rgba(60, 60, 60, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill2_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.skill3{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    background-image: url(media/JQuery_Image.jpg);
    background-size: contain;    
    display: flex;
    align-items:flex-end;
}

.skill3_details{

    height: 50px;
    width: 100%;
    background-color: rgba(60, 60, 60, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill3_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.section3{
        
    height: 50vh;
    width: 100%;
    background-color: rgb(185, 185, 185, 0.3);
    display: flex;
    justify-content: space-around;
}


.skill4{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    background-image: url(media/Mongodb_Image.jpg);
    background-size: contain;    
    display: flex;
    align-items:flex-end;
}

.skill4_details{

    height: 50px;
    width: 100%;
    background-color: rgba(60, 60, 60, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill4_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.skill5{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    background-image: url(media/Nextjs_Image.jpg);
    background-size: contain;    
    display: flex;
    align-items:flex-end;
}

.skill5_details{

    height: 50px;
    width: 100%;
    background-color: rgba(60, 60, 60, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill5_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.skill6{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    background-image: url(media/nodejs.jpg);
    background-size: contain;    
    display: flex;
    align-items:flex-end;
}

.skill6_details{

    height: 50px;
    width: 100%;
    background-color: rgba(60, 60, 60, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill6_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}


.section4{
        
    height: 50vh;
    width: 100%;
    background-color: rgb(185, 185, 185, 0.3);
    display: flex;
    justify-content: space-around;
}


.skill7{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    background-image: url(media/Reactjs.jpg);
    background-size: contain;    
    display: flex;
    align-items:flex-end;
}

.skill7_details{

    height: 50px;
    width: 100%;
    background-color: rgba(60, 60, 60, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill7_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.skill8{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    background-image: url(media/ViewJS_Image.png);
    background-size: contain;    
    display: flex;
    align-items:flex-end;
}

.skill8_details{

    height: 50px;
    width: 100%;
    background-color: rgba(60, 60, 60, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill8_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.skill9{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    background-image: url(media/cyber.jpg);
    background-size: contain;    
    display: flex;
    align-items:flex-end;
}

.skill9_details{

    height: 50px;
    width: 100%;
    background-color: rgba(60, 60, 60, .8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill9_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
